@{
    ViewBag.Title = "Hàng nhập nhóm 2 ct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Data.DataTable dt = ViewBag.Datatable as System.Data.DataTable;
}
@using (Html.BeginForm("BaoCaoHangNhap2CT", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div class="card mb-4 m-2">
        <div class="card-header">
            <div class="d-flex align-content-center w-100">
                <span class="fs-3 fw-bold">BÁO CÁO HÀNG NHẬP NHÓM 2 CHỈ TIÊU</span>
                <a href="@Url.Action("NgayBaoCaoHangNhap2CT","Home",new {name = "HangNhapNhom2CT"})" class="ms-auto"><i class="fa-solid fa-xmark "></i></a>
            </div>
            <div><span class="fs-5 ms-1">Từ ngày @ViewBag.fromDate đến ngày @ViewBag.toDate</span></div>
            <input id="@ViewBag.fromDate" type="text" hidden name="fromDate" value="@ViewBag.fromDate" />
            <input id="@ViewBag.toDate" type="text" hidden name="toDate" value="@ViewBag.toDate" />
            <input id="@ViewBag.MauBc" type="text" hidden name="MauBc" value="@ViewBag.MauBc" />
        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-outline-info"> <i class="fa-solid fa-print fa-lg"></i> In</button>
        </div>
        <div class="card-body table-responsive">
            <table id="resizeMe" class="table table-hover table-bordered">
                <thead class="bg-info">
                    <tr id="header-row">
                        @*<th>@Html.CheckBox("ID")</th>*@

                        <th>STT</th>
                        <th>Mã vật tư</th>
                        <th>Tên vật tư</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tiền</th>
                        <th>Tỷ lệ</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in dt.Rows)
                    {
                        <tr>
                            <td>@row["STT"]</td>
                            <td>@row["MaG2"]</td>
                            <td>@row["TenG2"]</td>
                            <td>@row["soluongnhap"]</td>
                            <td>@row["giamuavnd"]</td>
                            <td>@row["tiennhapvnd"]</td>
                            <td>@row["tyle"]</td>


                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
}