@model ReportManagement.SoCai
@{
    ViewBag.Title = "Ngày báo cáo tổng hợp hàng nhập mua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    label {
        margin-left: 20px;
        width: 20px;
    }

    #datepicker {
        width: 180px;
        margin: 0 0 0 5px;
    }

        #datepicker > span:hover {
            cursor: pointer;
        }

    #datepicker2 {
        width: 180px;
        margin: 0 0 0 5px;
    }

        #datepicker2 > span:hover {
            cursor: pointer;
        }
</style>
<script>
    var d = new Date();
    var currMonth = d.getMonth();
    var currYear = d.getFullYear();
    var startDate = new Date(currYear, currMonth, 1);
    var lastDate = new Date(currYear, currMonth + 1, 0);
    $(function () {
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
        }).datepicker('setDate', startDate);
        $("#datepicker2").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
        }).datepicker('setDate', lastDate);
    });


    document.addEventListener('DOMContentLoaded', function () {
        // Show the modal
        var myModal = new bootstrap.Modal(document.getElementById('datetimeModal'));
        myModal.show();
    });
    $(document).ready(function () {
        $('#itemName').text('Tiền mặt');
            $('#itemDropdown').change(function() {
                var selectedId = $(this).val();
                if (selectedId) {
                    $.ajax({
                        url: '@Url.Action("GetItemName", "Home")',
                        type: 'GET',
                        data: { id: selectedId },
                        success: function(response) {
                            $('#itemName').text(response.name);
                        },
                        error: function() {
                            $('#itemName').text('Lỗi: không tìm thấy!');
                        }
                    });
                } else {
                    $('#itemName').text('');
                }
            });
    });
    $(document).ready(function () {
        $('.single-char-123-only').on('keypress', function (e) {
            var allowedChars = '123'; // Chỉ cho phép các ký tự 1, 2, 3
            var char = String.fromCharCode(e.which);

            // Kiểm tra xem ký tự nhập vào có phải là 1 trong các ký tự được phép không
            if (allowedChars.indexOf(char) === -1) {
                e.preventDefault();
                return;
            }

            // Ngăn không cho nhập nếu đã có một ký tự
            if ($(this).val().length >= 1) {
                e.preventDefault();
                $(this).val(char); // Thay thế ký tự cũ bằng ký tự mới
            }
        });

        // Đảm bảo chỉ dán một ký tự và ký tự đó là 1, 2, hoặc 3
        $('.single-char-123-only').on('input', function () {
            var val = $(this).val();
            var allowedChars = '123'; // Chỉ cho phép các ký tự 1, 2, 3

            // Loại bỏ các ký tự không được phép và chỉ giữ lại ký tự cuối cùng nếu nó hợp lệ
            if (val.length > 1 || allowedChars.indexOf(val) === -1) {
                var lastChar = val.slice(-1);
                if (allowedChars.indexOf(lastChar) !== -1) {
                    $(this).val(lastChar); // Giữ lại ký tự hợp lệ cuối cùng
                } else {
                    $(this).val(''); // Xóa tất cả nếu không hợp lệ
                }
            }
        });
    }); 
</script>
@{ string controllerName = ViewBag.viewName;}
@using (Html.BeginForm(controllerName, "Home", FormMethod.Post))
{
    <div class="modal fade" id="datetimeModal" tabindex="-1" aria-labelledby="datetimeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center e-bg-light">
                    <h5 class="modal-title text-center w-100" id="datetimeModalLabel">TỔNG HỢP HÀNG NHẬP MUA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div class="d-flex align-items-center mb-3">
                        <label class="control-label col-4">Từ:</label>
                        <div id="datepicker" class="input-group date justify-content-center align-items-center align-content-center" lang="vi" data-date-format="dd-mm-yyyy">
                            @Html.TextBox("fromDate", null, new { @class = "form-control", placeholder = "Ngày bắt đầu" })
                            <span class="input-group-addon btn btn-outline-dark"><i class="fa-solid fa-calendar-days"></i></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 align-content-center">
                        <label class="control-label col-4">Đến:</label>
                        <div id="datepicker2" class="input-group date justify-content-center align-items-center align-content-center" lang="vi" data-date-format="dd-mm-yyyy">
                            @Html.TextBox("toDate", null, new { @class = "form-control", placeholder = "Ngày kết thúc" })
                            <span class="input-group-addon ms-0 btn btn-outline-dark"><i class="fa-solid fa-calendar-days "></i></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 align-content-center">
                        @Html.LabelFor(model => model.Tk, "Tài khoản", htmlAttributes: new { @class = "control-label col-4" })
                        <div class="col-md-10 d-flex">
                            @Html.DropDownList("TaiKhoanId", null, htmlAttributes: new { @class = "form-control w-25", id = "itemDropdown" })
                            @Html.ValidationMessageFor(model => model.Tk, "", new { @class = "text-danger" })
                            <div class="d-flex align-items-center p-2 w-50"><span id="itemName" class="badge text-bg-secondary"></span></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 align-content-center">
                        <label class="control-label col-4">Loại phiếu nhập</label>
                        <div class="col-md-10 d-flex">
                            @Html.TextBox("LoaiPn", null, new { @class = "form-control single-char-123-only", maxlenght = "1" })
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 align-content-center">
                        <label class="control-label col">1: Nhập mua; 2: Nhập khẩu; 3: Nhập chi phí</label>
                    </div>
                    <div class="d-flex align-items-center mb-3 align-content-center">
                        <label class="control-label col-4">Mẫu báo cáo</label>
                        <div class="col-md-10 d-flex">
                            @Html.TextBox("MauBc", null, new { @class = "form-control single-char-123-only", maxlenght = "1" })
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 align-content-center">
                        <label class="control-label col">1: Mẫu thường; 2: Mẫu nhập mua; 3: Mẫu nhập khẩu</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
}
