@{
    ViewBag.Title = "Sổ chi tiết tiền vay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Data.DataTable dt = ViewBag.Datatable as System.Data.DataTable;
}
@using (Html.BeginForm("BaoCaoSoTienChoVay", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div class="card mb-4 m-2">
        <div class="card-header">
            <div class="d-flex align-content-center w-100">
                <span class="fs-3 fw-bold">SỔ CHI TIẾT TIỀN VAY</span>
                <a href="@Url.Action("NgayBaoCaoSoTienVay", "Home", new {name = "SoTienvay"})" class="ms-auto"><i class="fa-solid fa-xmark "></i></a>
            </div>
            <div><span class="fs-5 ms-1">Từ ngày @ViewBag.fromDate đến ngày @ViewBag.toDate</span></div>
            <input id="@ViewBag.fromDate" type="text" hidden name="fromDate" value="@ViewBag.fromDate" />
            <input id="@ViewBag.toDate" type="text" hidden name="toDate" value="@ViewBag.toDate" />
            <input id="@ViewBag.taikhoanid" type="text" hidden name="TkId" value="@ViewBag.taikhoanid" />
            <input id="@ViewBag.khid" type="text" hidden name="KhId" value="@ViewBag.khid" />
        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-outline-info"> <i class="fa-solid fa-print fa-lg"></i> In</button>
        </div>
        <div class="card-body overflow-scroll">
            <table class="table table-hover table-bordered">
                <thead class="bg-info">
                    <tr>
                        <th>Mã ct</th>
                        <th>Ngày ct</th>
                        <th>Số ct</th>
                        <th>Mã khách</th>
                        <th>Tên khách</th>
                        <th>Diễn giải</th>
                        <th>Ps nợ</th>
                        <th>Ps có</th>
                        <th>Mã vv</th>
                        <th>Tên vv</th>
                        <th>Mã phí</th>
                        <th>Tên phí</th>
                        <th>Tk du</th>
                        <th>Tên tk dư</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in dt.Rows)
                    {
                        <tr>
                            <td class="e-ellipsis-100">@row["Mact"]</td>
                            <td class="e-ellipsis-100">@row["Ngayct"]</td>
                            <td class="e-ellipsis-100">@row["Soct"]</td>
                            <td class="e-ellipsis-100">@row["Khachhang_ud"]</td>
                            <td class="e-ellipsis-100">@row["Khachhang_nm"]</td>
                            <td class="e-ellipsis-100">@row["DienGiai"]</td>
                            @if (double.Parse(row["Psno"].ToString()) == 0)
                            {
                                <td class="e-ellipsis-100"></td>
                            }
                            else
                            {
                                <td class="e-ellipsis-100">@row["Psno"]</td>
                            }
                            @if (double.Parse(row["Psco"].ToString()) == 0)
                            {
                                <td class="e-ellipsis-100"></td>
                            }
                            else
                            {
                                <td class="e-ellipsis-100">@row["Psco"]</td>
                            }
                            <td class="e-ellipsis-100">@row["VuViec_ud"]</td>
                            <td class="e-ellipsis-100">@row["VuViec_nm"]</td>
                            <td class="e-ellipsis-100">@row["MaPhi_ud"]</td>
                            <td class="e-ellipsis-100">@row["MaPhi_nm"]</td>
                            <td class="e-ellipsis-100">@row["TkDu"]</td>
                            <td class="e-ellipsis-100">@row["TkDu_nm"]</td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
}

