<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>tTamkhoa - Trang quản lý</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="~/Scripts/jquery-ui.min.css">
    <script src="~/Scripts/external/jquery/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/colResizable-1.6.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    @* Sử dụng escape ký tự @ bằng cách sử dụng @@ *@
    @Html.Raw("<script src='https://cdn.jsdelivr.net/npm/@interactjs/interactjs/dist/interact.min.js'></script>")
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("table").colResizable({
                fixed: false,
                liveDrag: true,
                resizeMode: 'overflow',
                postbackSafe: true,
                draggingClass: 'dragging',
                headerOnly: false
            });
        });
    </script>
</head>
<body class="sb-nav-fixed e-bg-light h-100">
    <nav class="sb-topnav navbar navbar-expand e-navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 text-light" href="@Url.Action("Index","Home")">Báo Cáo</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars text-light"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw text-light"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion " id="sidenavAccordion">
                <div class="sb-sidenav-menu e-bg-light">
                    <div class="nav">
                        <!-- QuanLyTien-begin -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                            <span class="e-list-text">Quản lý tiền</span>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" @*Uncomment:đóng một navlink khi nhấn một nav mới*@ @*data-bs-parent="#sidenavAccordion"*@>
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Cập nhật số liệu</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("NgayBaoCao","Home",new {name = "PhieuThuTienMat"})"><span class="e-list-text">Phiếu thu tiền mặt</span></a>
                                        <a class="nav-link" href="@Url.Action("NgayBaoCao","Home",new {name = "PhieuChiTienMat"})"><span class="e-list-text">Phiếu chi tiền mặt</span></a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth3" aria-expanded="false" aria-controls="pagesCollapseAuth3">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Báo cáo liên quan đến tiền</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth3" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoSoQuy","Home", new {name = "SoQuyTienMat"})"><span class="e-list-text">Sổ quỹ tiền mặt</span></a>
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoSoQuy","Home", new {name = "SoQuyTienMatTheoNgay"})"><span class="e-list-text">Sổ quỹ (in từng ngày)</span></a>
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoSoTienGuiNganHang","Home", new {name = "SoTienGuiNganHang"})"><span class="e-list-text">Sổ tiền gửi ngân hàng</span></a>
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoSoQuy","Home", new {name = "SoChiTietTaiKhoan"})"><span class="e-list-text">Sổ chi tiết một tài khoản</span></a>
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoSoQuy","Home",new {name = "SoTongHopChuT"})"><span class="e-list-text">Sổ tổng hợp chữ T của một tài khoản</span></a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <!-- QuanLyTien-end -->
                        <!-- QuanLyMuaHang-begin -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages2" aria-expanded="false" aria-controls="collapsePages2">
                            <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                            <span class="e-list-text">Quản lý mua hàng</span>
                        </a>
                        <div class="collapse" id="collapsePages2" aria-labelledby="headingTwo" @*data-bs-parent="#sidenavAccordion"*@>
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages2">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth2" aria-expanded="false" aria-controls="pagesCollapseAuth2">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Cập nhật số liệu</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth2" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages2"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("NgayBaoCao","Home",new {name = "PhieuNhap"})"><span class="e-list-text">Phiếu nhập mua hàng</span></a>
                                        <a class="nav-link" href="#"><span class="e-list-text">Phiếu nhập khẩu</span></a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth8" aria-expanded="false" aria-controls="pagesCollapseAuth8">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Báo cáo hàng nhập mua</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth8" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages2"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoTongHopHangNhapMua","Home",new {name = "TongHopHangNhapMua"})"><span class="e-list-text">Tổng hợp hàng nhập mua</span></a>
                                        <a class="nav-link" href="@Url.Action("NgayBaoCaoTongHopHangNhapMua","Home",new {name = "TongHopHangNhapMua"})"><span class="e-list-text">Báo cáo hàng nhập nhóm theo 2 chỉ tiêu</span></a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth10" aria-expanded="false" aria-controls="pagesCollapseAuth10">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Quản lý danh sách nhà cung cấp</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth10" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages2"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("NgayBaoCao","Home", new {name = "PhieuThuTienMat"})"><span class="e-list-text">Danh sách nhà cung cấp</span></a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <!-- QuanLyMuaHang-end -->
                        <!-- QuanLyBanHang-begin -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages4" aria-expanded="false" aria-controls="collapsePages4">
                            <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                            <span class="e-list-text">Quản lý bán hàng</span>
                        </a>
                        <div class="collapse" id="collapsePages4" aria-labelledby="headingTwo" @*data-bs-parent="#sidenavAccordion"*@>
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages3">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth5" aria-expanded="false" aria-controls="pagesCollapseAuth5">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Cập nhật số liệu</span>
                                </a>
                                @*<div class="collapse" id="pagesCollapseAuth2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("PhieuThuTienMat","Home")"><span class="e-list-text">Phiếu nhập mua hàng</span></a>
                                        <a class="nav-link" href="@Url.Action("PhieuChiTienMat","Home")"><span class="e-list-text">Phiếu nhập khẩu</span></a>
                                    </nav>
                                </div>*@
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth6" aria-expanded="false" aria-controls="pagesCollapseAuth6">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Quản lý danh sách khách hàng</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth6" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages3"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("DanhMucKhachHang","Home")"><span class="e-list-text">Danh sách khách hàng</span></a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <!-- QuanLyBanHang-end -->
                        <!-- QuanLyKho-begin -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages5" aria-expanded="false" aria-controls="collapsePages5">
                            <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                            <span class="e-list-text">Quản lý kho</span>
                        </a>
                        <!-- QuanLyKho-lvl1-begin -->
                        <div class="collapse" id="collapsePages5" aria-labelledby="headingTwo" @*data-bs-parent="#sidenavAccordion"*@>
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages4">
                                <!-- QuanLyKho-lvl2-item1-begin -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth7" aria-expanded="false" aria-controls="pagesCollapseAuth7">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Cập nhật số liệu</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth7" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages4"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#"><span class="e-list-text">Phiếu nhập kho</span></a>
                                        <a class="nav-link" href="@Url.Action("PhieuXuatKhoNoiBo","Home")"><span class="e-list-text">Phiếu xuất kho nội bộ</span></a>
                                    </nav>
                                </div>
                                <!-- QuanLyKho-lvl2-item1-end -->
                                <!-- QuanLyKho-lvl2-item2-begin -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth9" aria-expanded="false" aria-controls="pagesCollapseAuth9">
                                    <div class="sb-sidenav-collapse-arrow e-text-dark"><i class="fas fa-angle-down"></i></div>
                                    <div class="sb-nav-link-icon"><i class="fa-regular fa-file-lines e-list-text"></i></div>
                                    <span class="e-list-text">Quản lý danh sách vật tư kho</span>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth9" aria-labelledby="headingOne" @*data-bs-parent="#sidenavAccordionPages4"*@>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("DanhMucVatTu","Home")"><span class="e-list-text">Danh sách hàng hóa vật tư</span></a>
                                    </nav>
                                </div>
                                <!-- QuanLyKho-lvl2-iteme-end -->
                            </nav>
                        </div>
                        <!-- QuanLyKho-lvl1-end -->
                        <!-- QuanLyKho-end -->
                    </div>
                </div>
            </nav>
        </div>
        @*<div id="loadingImg">
            <div class="spinner">
                <div class="cube cube1"></div>
                <div class="cube cube2"></div>
                <div class="cube cube3"></div>
                <div class="cube cube4"></div>
                <div class="cube cube5"></div>
                <div class="cube cube6"></div>
                <div class="cube cube7"></div>
                <div class="cube cube8"></div>
                <div class="cube cube9"></div>
            </div>
        </div>*@
        <div id="layoutSidenav_content">
            <main class="contentContainer">
                @RenderBody()
            </main>
        </div>
    </div>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>*@
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
